/*BACKGROUND*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
}
h1{
  font-family: "Red Hat Display", serif;
  color:rgb(197, 5, 12);
}
/*SIDEBAR*/
#sidebar{
  width:320px;
  padding:15px;
  height:calc(100% - 30px);
  display:inline-block;
  position:absolute;
  overflow:scroll;
  border-right:2px solid black;
  z-index:500;
}
/*search bar*/
#search-bar {
  width: 300px;
  top: 20px;

}
input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  border: black 1px solid;
  font-size:20px;
  font-family: "EB Garamond", serif;
}
/*reset button*/
#reset{
  display:none;
  position: relative;
  margin-top:10px;
  background:white;
  border:1px solid black;
  padding:10px;
  font-family: "EB Garamond", serif;
  font-size:20px;
}
#reset:hover{
  cursor:pointer;
  background:lightgray;
}
/*directory items*/
#directory{
  margin-top:10px;
}
.directory-link{
  cursor: pointer;
}
.directory-link:hover{
  background:lightgray;
}
/*MAP STYLE*/
#map {
  height: 100%;
  width: calc(100% - 350px);
  display:inline-block;
  margin-left:350px;
}
/*popups*/
.core-popup{
  margin-bottom:10px;
}
.core-popup > p{
  margin-top:5px;
  margin-bottom:5px;
}
